@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);

:root{
  /* --background-image:url(https://wallpapershome.com/images/wallpapers/mountains-5120x2880-macos-4k-5k-sierra-sky-android-wallpaper-11473.jpg) */
  --background-image: url(http://crevisio.com/images/posts/218/vrZbQU/Crevisio-218-vrZbQU-o.jpg);
  --text-color: rgb(0,234,80);
  --border-color: rgba(0,234,80,0.6);
  --btn-bg-color: rgb(255,255,255);
  --btn-border-color:rgb(255,255,255);
  --type-text-color: rgba(0,234,80,0.9);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.bg{
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  position: absolute;
  width: auto;
  height: auto;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
  filter: brightness(60%);
  /* -webkit-filter: blur(0px); */
  /* transform: scale(1.2); */
}

.logo{
  position: absolute;
  z-index: 1;
  top:calc(25%);
  left:calc(46%);
}

.logo div{
  font-family: 'Exo', sans-serif;
  font-size: 3rem;
  font-weight: 2000;
  color: var(--text-color);
}

.login{
  position: absolute;
  z-index: 1;
}
.login input{
  display: flex;
  flex-direction: column;
	width: 260px;
	height: 30px;
	background: transparent;
	border: 2px solid var(--border-color);
	border-radius: 2px;
	color: var(--text-color);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
  margin-top:20px;
}

.login {
  position: absolute;
  top: calc(35%);
  left: calc(45%);
}

.login [type=submit] {
  display: flex;
  flex-direction: column;
  width: 270px;
	height: 35px;
	background: var(--btn-bg-color);
	border: 1px solid var(--btn-border-color);
	cursor: pointer;
	border-radius: 2px;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 15px;
  justify-content: space-around;

}
.reset{
  cursor:pointer;
}
::placeholder{
  color:var(--text-color);;
}

.login input[type=submit]:hover{
	opacity: 0.75;
}

.login input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=email]:focus{
	outline: none;
	border: 1px solid var(--type-text-color);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid var(--type-text-color);
}

.login input[type=submit]:focus{
	outline: none;
}

.login p {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: black;
}

.signup{
  display: none;
}

.error{
  animation: shake .5s linear;
}


/* Shake animation*/

/* Credits to https://codepen.io/CFarhad */
@-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}
