:root{
  --chatBox: rgb(44,47,51);
  --textBox: rgb(153,170,181);

}
body{
  background-color: rgb(230,230,230);
}
#body{
  margin: 0;
  padding: 0;
  position: relative;
  top: 8vh;
  background-color: rgb(0,0,25);
}

#body .chat{
  background-color:var(--chatBox) ;
  position: absolute;
  top:1.9vh;
  width: 25vw;
  height: 95vh;
}

.textarea {
  position: absolute;
  display: block;
  width: 65vw;
  overflow: hidden;
  resize: none;
  min-height: 40px;
  line-height: 20px;
  border: 1px;
  border-radius: 5px;
  left: 25vw;
  bottom: 40px;
  border: none;
}

.textarea:focus{
    border: 0 none #FFF;
    overflow: hidden;
    outline:none;
}
textarea{
  font-size: 18px;
}
.textarea::placeholder{
  color: black;
}
