
@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);

/* Variables */
:root {
  --main-color:black;
  --second-color:white;
}

/* Desktop version website */



body {
  margin: 0;
  padding: 0;
}

#nav-bar{
  font-family: 'Roboto Slab', serif;
}

.icon-burger{
  display: none;
}
/* Nav bar starts */
nav {
  background-color: var(--second-color);
  box-shadow: 10px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0px;
  right:0;
  height: 75px;
}

nav .logo {
  position: relative;
  left: 70px;
  top:0;
  float: left;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 26px;
  padding-right: 150px;
}

nav .links {
  float: left;
  padding: 0;
  margin : 0;
  width: 55%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  text-decoration: none;
  font-size: 18px;
  color: var(--main-color);
  transition: 0.3s;
}

#nav-toggle {
  position: absolute;
  display: none;
}

nav .icon-burger {
  position: absolute;
  right: 5%;
  top:50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: var(--main-color);
  margin: 5px;
  border-radius: 10px;
}

nav .links a:hover{
  color:rgba(92,219,149,0.8);
  font-size: 34px;
}


/* Mobile version */
@media screen and (max-width: 1000px) {
.icon-burger{
  display: block;
}

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top:75px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(92,219,149,1);
    transition: all .1s ease-in-out;
  }

  nav .logo {
    left: 0;
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .icon-burger {
    display: block;
  }

  nav .links a:hover{
    font-size: 34px;
    color: var(--second-color);
  }

  nav :checked ~ .links{
    bottom: 0%;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(3){
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2){
    opacity: 0;
  }
}

/*Nav bar ends*/
