* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.display {
  position: absolute;
  right:0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
  overflow: hidden;
}

.display video {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  overflow: hidden;
}

.Our-mission {
  position: relative;
  z-index: 100;
  margin-bottom: 70px;
}

.border {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}

.Our-mission h1{
  font-weight: 500;
  font-size: 3.5em;
  line-height: 1em;
  margin-bottom: 10px;
}

.Our-mission p {
  margin-top: 10px;
  font-size: 20px;
}

.Our-mission a {
  display: inline-block;
  font-size: 20px;
  padding: 10px 29px;
  background-color: white;
  margin-top: 20px;
}
