* {
  box-sizing: border-box;
  padding: 0;
}
html{
  font-size: 100%;
}
ul {list-style-type: none;}

.todo-list-container{
  position: absolute;
  top: 75px;
  left: 70%;
  /* color: red; */
}

#container{
  width: 100%;
  height: 100vh;
  background-color: #121212f;
  color: white;
  display: flex;
  justfiy-content: center;
  align-items: center;
}

#calendar{
  width:50rem;
  height:50rem;
  background-color: #222227;
  box-shadow: 10px 5px 5px #757575;
}
.color_background{
  width:50%;
  height:50%;
}
.month {
  padding: 150px 15px;
  width: 100%;
  text-align: center;

}

.month ul {
  margin: 0;
  padding: 0 0px;
}

.month ul li {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.month #left {
  position: static;
  float: left;
  padding-top: 4px;
}
.month #right {
  position: static;
  float: right;
  padding-top: 1px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: white;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 1px 0;
  height: 60vh;
  background: #222227;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  height: 11%;
  text-align: center;
  margin-bottom: 8px;
  font-size:20px;
  color: white;
  transition: .1s
  cursor: pointer;

}
.days li {
    width: 100px;
    margin:5px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #222227;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

}

.days li:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}

.days li:active {
    color: #000
}

.days li:active:after {
    background: transparent;
}

.days li:hover:before {
    opacity: 1;
}

.days li:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222227;
    left: 0;
    top: 0;
    border-radius: 15px;
}
.prev-date, .next-date{
  opacity:1;
}

.active{
  background: #167e56;
  color: #fff;
  padding: 20px 20px;
}

.checkboxToDoList h3{
  background: black
}
.todo-list-container{
  position: absolute;
  height: 70%;
  width: 25%;
  background-color:#666;
  left: 41.5%;
}
.event{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.event li{
  padding: 20px 0;
}
 .todo-list-container{
  background-color: #222227;
  /* border: 3px solid grey; */
  border-radius: 5px;

}
.saving_and_canceling_info{
  position: absolute;
  bottom: 0;
  background-color: white;
}
.event-calendar-pop-up{
  position: relative;
  top: 5%;
  text-align: center;
  transition: 0.1s;
}
/* https://codepen.io/gabrielcolombo/pen/LGzNwq,
plan input is not my code */
.plan-input{
  background: none;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	font-size: 1.4em;
  width: 57.3%;
}
.plan-input::placeholder{
  color: white;
  border-bottom: 1px solid white;
}




.info-date {
  background: none;
  border-bottom: 1px solid white;
  color: #dfebed;
  font-size: 1.4em;
  width: 100%;
}

.todo-list-container .hid{
  transform: translateY(-100%);
  display:none;
}

.save {
    width: 175px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.save:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.save:active {
    color: #000
}

.save:active:after {
    background: transparent;
}

.save:hover:before {
    opacity: 1;
}

.save:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #555;
    left: 0;
    top: 0;
    border-radius: 10px;
}


.cancel {
    width: 175px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.cancel:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.cancel:active {
    color: #000
}

.cancel:active:after {
    background: transparent;
}

.cancel:hover:before {
    opacity: 1;
}

.cancel:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #555;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.buttons{
  position: absolute;
  left: 13%;
  top: 500px;
}
/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/* Harsh */
/* https://codepen.io/perry_nt/pen/eVboze */
/* https://codepen.io/kocsten/pen/rggjXp */
/* https://codepen.io/gabrielcolombo/pen/LGzNwq */


html,body {
	padding:0;
	margin:0;
	background:#fafafa;
	text-align:center;
}

body {
	padding-top:3em;
}

h1,
h2 {
	margin-bottom:3rem;
	font-family:sans-serif;
	color:#666;
}

h2 {
	margin-top:2em;
}

.clock {
	position:relative;
	font-family:monaco,consolas,"courier new",monospace;
	font-size:3.5rem;
	line-height:1.375;
}

.clock:before,
.clock:after {
	position:absolute;
	top:0;
	bottom:0;
	content:':';
	z-index:2;
	line-height:1.15;
	color:#333;
}

.clock:before {
	left:2.325em;
}

.clock:after {
	right:2.325em;
}

.clock span {
	position:relative;
	display:inline-block;
	padding:0 .25em;
	margin:0 .06125em;
	z-index:1;

	-webkit-transform:perspective(750);
	-moz-transform:perspective(750);
	-ms-transform:perspective(750);
	transform:perspective(750);

	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
}

.clock span:first-child {
	margin-left:0;
}

.clock span:last-child {
	margin-right:0;
}

.clock span:nth-child(2),
.clock span:nth-child(4) {
	margin-right:.3em;
}

.clock span:nth-child(3),
.clock span:nth-child(5) {
	margin-left:.3em;
}

.clock span:before,
.clock span:after {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	color:#eee;
	text-shadow:0 1px 0 #fff;
	background:#333;
	border-radius:.125em;
	outline:1px solid transparent; /* fix jagged edges in ff */

	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;

	-webkit-transition:-webkit-transform .75s, opacity .75s;
	-moz-transition:-moz-transform .75s, opacity .75s;
	-ms-transition:-ms-transform .75s, opacity .75s;
	transition:transform .75s, opacity .75s;
}

.clock span:before {
	opacity:1;
	z-index:1;
	content:attr(data-old);

	-webkit-transform-origin:0 0;
	-moz-transform-origin:0 0;
	-ms-transform-origin:0 0;
	transform-origin:0 0;

	-webkit-transform:translate3d(0,0,0) rotateX(0);
	-moz-transform:translate3d(0,0,0) rotateX(0);
	-ms-transform:translate3d(0,0,0) rotateX(0);
	transform:translate3d(0,0,0) rotateX(0);
}

.clock span:after {
	opacity:0;
	z-index:2;
	content:attr(data-now);

	-webkit-transform-origin:0 100%;
	-moz-transform-origin:0 100%;
	-ms-transform-origin:0 100%;
	transform-origin:0 100%;

	-webkit-transform:translate3d(0,-102.5%,0) rotateX(90deg);
	-moz-transform:translate3d(0,-102.5%,0) rotateX(90deg);
	-ms-transform:translate3d(0,-102.5%,0) rotateX(90deg);
	transform:translate3d(0,-102.5%,0) rotateX(90deg);
}

.clock .flip:before {
	opacity:0;
	-webkit-transform:translate3d(0,102.5%,0) rotateX(-90deg);
	-moz-transform:translate3d(0,102.5%,0) rotateX(-90deg);
	-ms-transform:translate3d(0,102.5%,0) rotateX(-90deg);
	transform:translate3d(0,102.5%,0) rotateX(-90deg);
}

.clock .flip:after {
	opacity:1;
	-webkit-transform:translate3d(0,0,0) rotateX(0);
	-moz-transform:translate3d(0,0,0) rotateX(0);
	-ms-transform:translate3d(0,0,0) rotateX(0);
	transform:translate3d(0,0,0) rotateX(0);
}
