/*
---Name: Harsh Trivedi
The code for calendar.CSS was made by Harsh Trivedi
 */

*,:active{
	outline: none;
}
*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #EEEDE9;
  font-size: 96.5%;
	font-family: Helvetica, Arial, sans-serif;
}

input{
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
	font-size: 18px;
}

.calendar-cont{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 91%;
	background-color: #ffffff;
	color: #333333;
}

.calendar-cont h1, .calendar-cont h2{
  font-weight: 300;
	font-size: 26px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0px 0px 20px 0px;
}

.calendar-cont .col{
	position: relative;
	float: left;
	height: 100%;
}

.calendar-cont .col .content{
	padding: 50px;
}

.calendar-cont ul{
	margin: 0px;
}

.calendar-cont ul li{
	list-style: none;
}

.calendar-cont .leftCol{
	width: 40%;
	height: 100%;
}

.calendar-cont .noteList{
	/* background-color: rgba(255,255,255,0.5); */
	height: 100%;
	width: 100%;
}

.calendar-cont .noteList li{
	color: black;
	margin-bottom: 10px;
}

.calendar-cont .notes p,
.calendar-cont .notes input,
.calendar-cont .noteList li{
	font-weight: 300;
	font-size: 18px;
}

.calendar-cont .notes p{
	border-bottom: solid 1px rgba(255,255,255,0.4);
}

.calendar-cont .notes input{
	background-color: rgba(0,0,0,0);
	color: rgb(46,17,45);
	border: none;
	width: 100%;
}

.addNote{
	margin-right: -15px;
	margin-top: -20px;
}

.calendar-cont .addNote,
.calendar-cont .removeNote{
	float: right;
	color: black;
	font-weight: bold;
	margin-left: 20px;
}

.calendar-cont .removeNote{
	font-size: 1.5rem;
}

.calendar-cont .addNote:hover{
	color: #ffffff;
}
.calendar-cont .removeNote:hover{
	color: rgb(255,25,25);
}

.calendar-cont .addNote{
	font-size: 16px;
}

.calendar-cont .leftCol h1{
	color: rgb(46,17,45);
}

.calendar-cont .rightCol{
	width: 60%;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #fedac1;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
	color: rgb(46,17,45);
	position: absolute;
  padding-top: 10px;
}

.prev:hover{
	color: #999;
	cursor: pointer;
}

.month .next {
	color: rgb(46,17,45);
	position: absolute;
  padding-top: 10px;
	right: 10px;
	cursor: pointer;
}

.next:hover{
	color: #999;
}

.days {
  padding: 10px 0;
  background: #fedac1;
  margin: 0;
	height: 100%;
}

.days li {
	padding: 20px 0;
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:18px;
  color: rgb(46,17,45);
	cursor: pointer;
}

.days li .active{
  padding:10px;
  background: rgb(255,108,64);
  color: white !important;
}

.days li .event{
	height: 100%;
	width: 100%;
  border-bottom: 2px #b36200 solid;
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .days li {width: 12.2%;}
}

.navbar {
	border-radius: 0;
	position: absolute;
	z-index: 100;
  overflow: hidden;
  background-color: #444;
	height: 7%;
	width: 100%;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
	margin-right: 0%;
}

.dropdown .dropbtn {
  font-size: 32px;
  border: none;
  outline: none;
  color: white;
  padding: 7px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #666;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-top: 1px #666 solid
}

.dropdown-content a:hover {
  background-color: #ddd;
}

::placeholder{
  color: white;
	font-weight: bold;
}

/* Notification */
.notification-panel{
	position: absolute;
	background-color: #333;
	z-index: 99;
	height: 100%;
	max-width: 25%;
	min-width: 25%;
	float: right;
	right: 0%;
	transition: 0.2s;
	transform: translateX(100%);
}

.notification-panel .close{
	position: absolute;
	top: 1px;
  left: -41px;
	font-size: 1.5rem;
	padding: 5px 10px;
	border-radius: 10%;
	background: rgba(0,234,80,0.9);
	color: white;
}

.notification-panel .close:hover{
	color:#666;
}

.notification-panel .close .count{
	display: none;
	position: absolute;
	left: 16.25px;
	top: 25%;
	color: #111;
	font-size: 0.9rem;
}

.notification-panel .notif_list{
		overflow: hidden;
}

.notif_list{
	position: relative;
	display: flex;
	flex-direction: column;
	color: white;
}

.notification{
  display: flex;
  background-color: #666;
	border-radius:20px;
	transition: .5s;
}

.notification:first-child {
	margin-top: 10px;
}

.notification:not(:first-child){
margin-top: 16px;
}

.cont{
  padding: 10px;
}

.title{
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.description{
  color:rgba(255,255,255,0.9);
}
.cls{
  font-size: 1.5rem;
  margin-left: auto;
  padding: 0 10px;
  border: 0;
  background-color: #666;
  cursor: pointer;
}
.cls:hover {
  background-color: #999;
}

.asd{
	overflow-y: hidden;
}

.animate-out{
	animation: fade-out .5s;
}

@keyframes fade-out {
  to {
    opacity: 0;
    transform: translateX(350px);
  }
}

.buttons{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10%;
}
