* {
  box-sizing: border-box;
  padding: 0;
}
html{
  font-size: 100%;
}
ul {list-style-type: none;}

.todo-list-container{
  position: absolute;
  top: 75px;
  left: 70%;
  /* color: red; */
}

#container{
  width: 100%;
  height: 100vh;
  background-color: #121212f;
  color: white;
  display: flex;
  justfiy-content: center;
  align-items: center;
}

#calendar{
  width:50rem;
  height:50rem;
  background-color: #222227;
  box-shadow: 10px 5px 5px #757575;
}
.color_background{
  width:50%;
  height:50%;
}
.month {
  padding: 150px 15px;
  width: 100%;
  text-align: center;

}

.month ul {
  margin: 0;
  padding: 0 0px;
}

.month ul li {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.month #left {
  position: static;
  float: left;
  padding-top: 4px;
}
.month #right {
  position: static;
  float: right;
  padding-top: 1px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ccc;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  height: 45vh;
  background: #222227;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  height: 11%;
  text-align: center;
  margin-bottom: 8px;
  font-size:20px;
  color: white;
  transition: .1s
  cursor: pointer;

}

.days li:hover,
.days li:focus {
  box-shadow: 0 .6em 3em -0.3em black;
  transform: translateY(-0.25em);
  cursor: pointer;

}


@keyframes boder-animation{
  0%{
    border-bottom: 1px white solid;
  }

  100%{
    border-right: 1px white solid;
  }
}
.prev-date, .next-date{
  opacity:0.5;
}

.active{
  background: #167e56;
  color: #fff;
  padding: 20px 20px;
}

.checkboxToDoList h3{
  background: black
}
.todo-list-container{
  position: absolute;
  height: 60%;
  width: 25%;
  background-color:#666;
  left: 51.9%;
}
.event{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.event li{
  padding: 20px 0;
}
 .todo-list-container{
  background-color: #222227;
  /* border: 3px solid grey; */
  border-radius: 5px;

}
.saving_and_canceling_info{
  position: absolute;
  bottom: 0;
  background-color: white;
}
.event-calendar-pop-up{
  position: relative;
  top: 5%;
  text-align: center;
  transition: 0.1s;
}
/* https://codepen.io/gabrielcolombo/pen/LGzNwq,
plan input is not my code */
.plan-input{
  background: none;
	border: none;
	border-bottom: 1px solid rgba(73, 114, 133, .6);
	color: #dfebed;
	font-size: 1em;
	font-weight: 100;
	padding: 30px 40px;
	width: 100%;

}

.todo-list-container .hid{
  transform: translateY(-100%);
  display:none;
}


/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/* Harsh */
/* https://codepen.io/perry_nt/pen/eVboze */
