:root{
  --chatBox: rgb(44,47,51);
  --textBox: rgb(153,170,181);

}

body{
  margin: 0;
  padding: 0;
}

#body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 90vh;
}

aside{
	width:25vw;
	height:100vh;
	background-color:#3b3e49;
	font-size:15px;
	vertical-align:top;
}
aside ul{
  position: relative;
  height: 75vh;
  overflow-y:scroll;
  list-style-type:none;
  left: -3vw;
  top: -2vh;
  width: 101.5%;
}
aside .profile{
  position: relative;
  background-color: #17181d;
  height: 2%;
  width: auto;
  top: 9vh;
}

aside .add-group{
  position: relative;
  height: 10%;
  width: auto;
  background-color: #17181d;
  bottom: -90%;
}

#body .add-group .adduser{
  position: absolute;
  bottom: 25%;
  left: 10%;
  color: blue;
  z-index: 3;
}

aside li:hover{
	background-color:#5e616a;
}

aside li{
	padding:10px 0;
}

h2,h3{
	margin:0;
}

aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}

aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}

aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}

aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}

.offline{
	background-color:#fff;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
}
