/* A large portion(90%) of this code is from the source below */
/* Here is link to original post: */
/* https://codepen.io/robinllopis/pen/mLrRRB */
body{
  margin: 0;
  padding: 0;
}

#body{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 91vh;
  top:9%;
}

*{
	box-sizing:border-box;
}
body{
	background-color:#fff;
	font-family:Arial;
}
#container{
	width:100vw;
	height:100vh;
	background:#2c2f33;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
aside{
	width:20vw;
	height:91vh;
	background-color:#3b3e49;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	width:490px;
	height:800px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:690px;
}

aside li{
	padding:10px 0;
}

aside li:hover{
	background-color:#5e616a;
}

h2,h3{
	margin:0;
}

aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}

aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}

aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}

aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}

.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}

main footer{
	height:155px;
	padding:20px 30px 10px 20px;
}

main footer textarea{
  position: absolute;
  top: 95%;
  left: 21%;
	resize:none;
	border:none;
	display:block;
	width:70%;
	height:1em;
	border-radius:3px;
  border-color: gray;
	padding:5px;
	font-size:15px;
	margin-bottom:13px;
  overflow-y: hidden;
}

main footer textarea::placeholder{
	color:#ddd;
}

main footer a{
  position: absolute;
  top: 94.5%;
  left: 72%;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:	#7289da;
	vertical-align:top;
	margin-left:333px;
	margin-top:5px;
	display:inline-block;
}

main footer a {
  font-size: 1.8em;
}

/*  This is only thing I am adding*/
.offline{
	background-color:#fff;
}

.online{
  background-color: #00FF00
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 5px;
}
