/*
Code: meet.CSS was made by Rahul
sources used: https://www.w3schools.com/css/css_navbar.asp
 */

#chat-container{
  position: absolute;
  top: 75px;
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #222227;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

/* Add a black background color to the top navigation */


.tab-nav{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 2%;
}

.message-bar{
  position:absolute;
  bottom: 14%;
  left: 12%;
  width:100%;
  display: flex;
  flex-direction: row;
}

.enter-message{
  color: white;
  height: 1.5rem;
  width: 80%;
  border: 1px gray solid;
  border-radius: 10px;
  background:rgba(111,111,111,0.5);
  padding:10px;
}
::placeholder{
  color: white;
}
.enter-message:focus{
  outline: none;
}

.discussion {
  position: absolute;
	margin-top:8vh;
  width: 100%;
  height:70vh;
  overflow-y: scroll;
}

li{
	padding:8px 0;
}

h2,h3{
	margin:0;
}
li img{
  height: 50px;
  width: 50px;
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}

li div{
 display:inline-block;
 vertical-align:top;
 margin-top:12px;
}

li h2{
	font-size:16px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}

li h3{
 font-size:12px;
 color:#7e818a;
 font-weight:normal;
}

.message{
	display:inline-block;
  max-width: 100%;
}

li{
  list-style-type: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #444;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-top: 1px #666 solid
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Display groups */
 .item{
  position: absolute;
  bottom: 100%;
  width: 80.5%;
  background: rgba(0,0,0,0.1);
  border-radius: 10px
}

.item > div{
  padding: 15px;
  color: white;
  border-bottom: 1px solid #666;
}

.auto-comp .list-item .item div:hover{
  background: #666
}


.help-button-wrapper {
  position: fixed;
  bottom: 1.2em;
  right: 2em;
  text-align: right;
}

.help-button {
  height: 3em;
  width: 3em;
  font-size: 14px;
  border-radius: 50%;
  border: 0 none;
  background: #ee464d;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.help-button:hover,
.help-button:focus,
.help-button:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}

.help-button span {
  display: block;
  font-size: 2em;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.help-button:hover span,
.expanded .help-button span,
.expanded .help-button span {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

.expanded .help-button {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  color: rgba(255, 255, 255, 0.5);
  background: #9e9e9e;
}

.help-list {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-transform: translate(0, 90px) scale(0.5);
  transform: translate(0, 90px) scale(0.5);
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  opacity: 0;
}

.expanded .help-list {
  -webkit-transform: translate(0px, 20px) scale(1);
  transform: translate(0px, 20px) scale(1);
  opacity: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-bottom: 1.5em;
  margin-right: 1.5em;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 10px;
}

.help-list li {
  margin-bottom: 0.7em;
  color: #464646;
}

.help-list li:last-child {
  margin-bottom: 0;
}

.help-list li:hover {
  cursor: pointer;
  color: black;
}


::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
    border-radius: 10px;
}
