@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);

* {
	padding: 0;
	margin: 0;
}
nav #navs{
	display: none;
}
body {
	font-family: arial;
}

nav {
	height: 100px;
	width: 100%;
	background: #222227;
	border-bottom: 5px solid black;
}

label .logo {
	top-margin: 20px;
	padding: 0 100px;
	line-height: 80px;
	cursor: pointer;
}

label .logo {
  font-size: 2.5rem;
  padding: 0 2rem;
  background: linear-gradient(to left, transparent 50%, rgb(34, 139, 34) 50%) right;
  background-size: 200%;
	border-radius: 50px;
  transition: 0.5s ease-out;
}

.logo:hover {
  background-position: left;
}

nav ul {
	float: right;
	margin-right: 40px;
}

nav li {
	display: inline-block;
	margin: 0px;
	line-height: 80px;
}

nav a {
	color: white;
	font-size: 18px;
	border: 4px solid transparent;
	padding: 20px 10px;
	border-radius: 3px;
}

a.active, a:hover {
	border:1px solid green;
	transition: .6s;
	border-radius: 5px
}

nav #navs {
	color: white;
	font-size: 20px;
	line-height: 80px;
	float: right;
	margin-right: 40px;
	cursor: pointer;
}

@media (max-width: 1048px){
	label.logo{
		font-size: 35px;
		padding-left: 60px;
	}

	nav ul{
		margin-right: 0px;
	}

	nav a{
		font-size: 17px;
	}
}

@media (max-width: 909px){
	nav #navs{
		display: block;
	}

	nav ul{
		display: grid;
		height: 100vh;
		background: #2f3640;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
		width: 0%;

	}

	nav li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
		width: -500px;
	}

	nav a{
		font-size: 20px;
	}

	a.active, a:hover{
		border: none;
		color: #3498db;
	}

	nav ul.show{
		left: 0;
	}
}

@media (max-width: 337px) {
	nav ul {

	}
}
