.todo-list-container{
  position: absolute;
  top: 20%;
  left: 53%;
  height: 100%;
  width:25%;
}

.checkboxToDoList h3{
  background: black
}
.todo-list-container{
  position: absolute;
  height: 70%;
﻿}
.checkboxToDoList h3{
  background: black
}
.todo-list-container{
  position: absolute;
  height: 70%;
  width: 25%;
  background-color:#666;
  left: 41.5%;
}
.event{
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.event li{
  padding: 20px 0;
}
 .todo-list-container{
  background-color: #222227;
  border-radius: 5px;

}
.saving_and_canceling_info{
  position: absolute;
  bottom: 0;
  background-color: white;
}
.event-calendar-pop-up{
  position: relative;
  top: 5%;
  text-align: center;
  transition: 0.1s;
}
/* https://codepen.io/gabrielcolombo/pen/LGzNwq,
plan input is not my code */
.plan-input{
  background: none;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	font-size: 1.4em;
  width: 57.3%;
}
.plan-input::placeholder{
  color: white;
  border-bottom: 1px solid white;
}

.info-date {
  background: none;
  border-bottom: 1px solid white;
  color: #dfebed;
  font-size: 1.4em;
  width: 100%;
}

.todo-list-container .hid{
  transform: translateY(-100%);
  display:none;
}

.save {
    width: 175px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.save:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.save:active {
    color: #000
}

.save:active:after {
    background: transparent;
}

.save:hover:before {
    opacity: 1;
}

.save:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #555;
    left: 0;
    top: 0;
    border-radius: 10px;
}


.cancel {
    width: 175px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.cancel:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.cancel:active {
    color: #000
}

.cancel:active:after {
    background: transparent;
}

.cancel:hover:before {
    opacity: 1;
}

.cancel:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #555;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.buttons{
  display: flex;
  width:100%;
  margin-top: 60%;
  justify-content: center;
}


/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}
